<table class="ui striped selectable celled table">
    <thead>
      <tr>
        <th>Application Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <% @employee.programs.each do |apps| %>
        <tr>
          <td><%= apps.name %></td>
          <td><%= apps.description %></td>
        </tr>
      <% end %>
    </tbody>
</table>