<h2 class="ui center aligned icon header">
  <i class="circular edit blue icon"></i>
  Edit: <%= @employee.firstName.capitalize %> <%= @employee.lastName.capitalize %>
</h2>

<div class="ui top attached tabular menu">
  <a class="item active" data-tab="info">Info</a>
  <a class="item disabled" data-tab="">Locations</a>
  <a class="item disabled" data-tab="">Security</a>
  <a class="item disabled" data-tab="">Applications</a>
  <a class="item disabled" data-tab="">OSHA</a>
</div>
<div class="ui bottom attached tab segment active" data-tab="info">
  <%= render 'form' %>
</div>
<div class="ui bottom attached tab segment " data-tab="locations">
  Locations
</div>
<div class="ui bottom attached tab segment" data-tab="security">
  Security
</div>
<div class="ui bottom attached tab segment" data-tab="applications">
  Applications
</div>
<div class="ui bottom attached tab segment" data-tab="osha">
  OSHA
</div>