<h2 class="ui center aligned icon header">
  <i class="circular building blue icon"></i>
  <%= @application.name.capitalize %>
</h2>

<%= render 'formro' %>
<br />
<div class="ui buttons">
  <%= link_to "Go Back", applications_path, class: "ui button" %>
  <div class="or"></div>
  <%= link_to "Edit", edit_application_path(@application), class: "ui positive button" %>
</div>