<h2 class="ui center aligned icon header">
  <i class="circular building blue icon"></i>
  <%= @program.name.capitalize %>
</h2>

<%= render 'formro' %>
<br />
<div class="ui buttons">
  <%= link_to "Go Back", programs_path, class: "ui button" %>
  <% if current_user.admin? %>
    <div class="or"></div>
    <%= link_to "Edit", edit_program_path(@program), class: "ui positive button" %>
  <% end %>
</div>