<h2 class="ui center aligned icon header">
  <i class="circular building blue icon"></i>
  <%= @location.name.capitalize %>
</h2>

<%= render 'formro' %>
<div class="ui buttons">
  <%= link_to "Go Back", locations_path, class: "ui button" %>
  <% if current_user.admin? or current_user_moderator? %>
    <div class="or"></div>
    <%= link_to "Edit", edit_location_path(@location), class: "ui positive button" %>
  <% end %>
</div>