<div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">&nbsp;</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">&nbsp;</a>
            <a href="#" class="item">&nbsp;</a>
            <a href="#" class="item">&nbsp;</a>
            <a href="#" class="item">&nbsp;</a>
            <a href="#" class="item">&nbsp;</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">&nbsp;</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">&nbsp;</a>
            <a href="#" class="item">&nbsp;</a>
            <a href="#" class="item">&nbsp;</a>
            <a href="#" class="item">&nbsp;</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">&nbsp;</h4>
          <p>&nbsp;</p>
        </div>
      </div>
    </div>
  </div>
</div>