<%= link_to "Home", root_path, class: "item" %>
<a class="item">
Messages
</a>
<a class="item">
Friends
</a>

<div class="right menu">
    <div class="ui dropdown item">
        Account <i class="dropdown icon"></i>
        <div class="menu">
            <% if user_signed_in? %>
                <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "item" %>
            <% else %>
                <%= link_to "Login", new_user_session_path, class: "item" %>
            <% end %>
        </div>
    </div>
    <% if !user_signed_in? %>
        <div class="item">
            <%= link_to "Sign up", new_user_registration_path, class: "ui primary button" %>
        </div>
    <% end %>
</div>